body {
  margin: 0;
}

.logo {
  width: 100px;
  height: 36px;
  background-image: url(/src/assets/images/school-logo.png);
  background-size: cover;
}

.layout {
  display: flex;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.flag {
  width: 30px;
  height: 20px;
  margin: 0 10px 0 0;
}

.flag img {
  width: 100%;
  height: 100%;
}

.previousContainer {
  display: flex;
}

.argName {
  color: rgb(255, 69, 131);
}

.fieldName {
  color: blueviolet;
}

.argType,
.fieldType {
  color: rgb(255, 153, 0);
}

.editorsContainer {
  margin-top: 15px;
  background-color: #c8c8c8;
  padding: 16px;
}

.customLink {
  text-decoration: none;
  color: #426892;
  font-weight: 700;
}

@media (max-width: 915px) {
  .photo {
    display: none;
  }
  .layout {
    flex-direction: column;
    max-width: 100vw;
  }
}
