body {
  margin: 0;
}

.logo {
  width: 100px;
  height: 50px;
  background-image: url(/src/assets/rs_school-og.png);
  background-size: cover;
}

.layout {
  display: flex;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.previousContainer {
  display: flex;
}

.argName {
  color: rgb(255, 69, 131);
}

.fieldName {
  color: blueviolet;
}

.argType,
.fieldType {
  color: rgb(255, 153, 0);
}

@media (max-width: 915px) {
  .photo {
    display: none;
  }
}
