body {
  margin: 0;
}

.logo {
  width: 100px;
  height: 50px;
  background-image: url(/src/assets/rs_school-og.png);
  background-size: cover;
}

.layout {
  display: flex;
  margin-top: var(--footer-height);
  min-height: calc(100vh - var(--footer-height) - var(--footer-height));
}

.editor {
  width: 100%;
}

@media (max-width: 915px) {
  .photo {
    display: none;
  }
}